name: build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
    - name: Install libaio
      run: sudo apt-get install -y libaio1 libaio-dev
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Setup Rust
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        components: llvm-tools      
    - name: Install grcov
      run: cargo install grcov
    - name: Build and Test
      env:
        RUSTFLAGS: "-Cinstrument-coverage -Ctarget-cpu=native"
        LLVM_PROFILE_FILE: "coverage-%p-%m.profraw"
      run: |
        cargo build --verbose --all
        cargo test --verbose --all -- --test-threads=1
    - name: Generate coverage report
      run: |
        grcov . --binary-path ./target/debug/ -s . -t lcov \
          --branch --ignore-not-existing --ignore "target/" \
          --ignore "doradb-tpch-tests" \
          -o lcov.info
    - name: Upload to codecov.io
      uses: codecov/codecov-action@v3
      with:
        file: lcov.info
        token: ${{secrets.CODECOV_TOKEN}}
